--
Language: Cpp
BasedOnStyle: LLVM
TabWidth: 4
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializersBeforeComma: false
PointerAlignment: Left
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
BinPackParameters: false
Cpp11BracedListStyle: true

# Visual Studio formatting style
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
